<link rel="stylesheet" href="about.css">
<% layout("boilerplate") %>
<div class="container">
  <div class="row">
    <h1 class="display-1 text-center mt-2 mb-2">About Basis</h1>
    <p class="paragraph mt-2">
      Basis was made to facilitate the schedule-making process in AUB significantly. Everyone has preferences when making their schedules. Most people have a preference about the
      specific instructors they want for a course. Others only like starting after a specific hour to get some more sleep. And some like to put other tasks they have - such as
      a tutor that they take on specific days at a specific time or times where they like to take breaks - on their schedule. Our website revolutionizes the schedule-making game
      by including all of these features - and many more - in one place! In a few minutes, the user is prompted to enter all their specifications for their schedule, and we will
      do all the hard work for you and give you all the schedules we could find that match your specifications!
    </p>
    <div class="col-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class='card-text'> Adel Katergi</h2>
          <i class="fab fa-instagram"></i> I
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class='card-text'> Ibrahim El Khansa </h2>
        </div>
      </div>
    </div>
  </div>
</div>