<link rel="stylesheet" href="about.css">
<% layout("boilerplate") %>
<div class="container">
  <div class="row">
    <h1 class="display-1 text-center mt-2 mb-2">About Basis</h1>
    <p class="paragraph mt-2">
      Basis is a schedule making website that serves as the new and improved method for generating the perfect schedule for
      all AUB students. Made by Adelle Katergi and Ibrahim el Khansa, it is an essential tool for every AUBite whose struggling to make their schedules every semester.
      With Basis, your semester can be decided in mere seconds.
      You type in your preferences and we guide you to your perfect schedule.
      From selecting a preferred start time to adding your own custom courses, our website is designed to make not only the perfect schedule
      but the perfect schedule for you.
      <a href=https://bechara-rizk.github.io/blackjack/> For Black Jack Click Here</a>
    </p>
  </div>
</div>