<link rel="stylesheet" href="about.css">
<% layout("boilerplate") %>
<div class="container">
  <div class="row">
    <h1 class="display-1 text-center mt-2 mb-2">About Basis</h1>
    <p class="paragraph mt-2">
      السلام عليكم</br>
      Basis is a schedule making website that serves as a new and improved method for generating the perfect schedule for
      all AUB students. It is an essential tool for every AUBite whose struggling to make their schedules every semester.
      With Basis, your semester can be decided in mere seconds.
      You type in your preferences and we guide you to your perfect schedule.
      
    </p>
  </div>
</div>