<link rel="stylesheet" href="./app.css">
<% layout("boilerplate") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card sticky-top mt-5">
                <div class="card-header">
                    <b id="cardTitle"> Title </b>
                    <br>
                    <small id="cardName"> Course Name</small>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item cardSection">Section: <span id="section">section</span> </li>
                    <li class="list-group-item cardCRN">CRN: <span id="crn">crn</span></li>
                    <li class="list-group-item cardCredots"> Credits: <span id="credits">credits</span> </li>
                    <li class="list-group-item cardSeats"> Seats Available: <span id="seats">?/?</span> </li>
                    <li class="list-group-item cardSeats"> Instructor: <span id="instructor">instructor</span> </li>
                </ul>
            </div>
        </div>
        <div class="col-8 mb-3" id='schedMain'>
            <div id="arrows" class='sticky-top'>
                <a class="leftArrow"> &lt </a>
                <span id="currSched"> <span id="index">1</span> of <span id="total"><%= Schedules.length %> </span> </span>
                <a class="rightArrow"> &gt </a>
            </div>
            <table>
                <tr class="top">
                    <th>Times</th>
                    <th>MONDAY</th>
                    <th>TUESDAY</th>
                    <th>WEDNESDAY</th>
                    <th>THURSDAY</th>
                    <th>FRIDAY</th>
                    <th>SATURDAY</th>
                </tr>
                    <% for(let i=7; i<24; i++) {%>
                    <tr class="r<%= i %>">
                        <td class="time"><%= `${i}:00` %> </td>
                        <td class="box monday">
                            <div class="content"></div>
                        </td>
                        <td class="box tuesday">
                            <div class="content"></div>
                        </td>
                        <td class="box wednesday">
                            <div class="content"></div>
                        </td>
                        <td class="box thursday">
                            <div class="content">
                            </div>
                        </td>
                        <td class="box friday">
                            <div class="content"></div>
                        </td>
                        <td class="box saturday">
                            <div class="content"></div>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
        <div class="col">
            <div class="card mt-5">                 
                <div class="card-header">
                    Customize Schedule
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item I">Time: <button id="changeTime" class="btn btn-success">12 Hour Format</button> </li>
                    <li class="list-group-item">
                        Colors:
                        <div class="card-body" id="custom">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script>
let Schedules = <%- JSON.stringify(Schedules) %>
</script>
<script type="module" src="app.js"></script>

</html>