<link rel="stylesheet" href="scheduleForm.css">
<% layout("layouts/boilerplate") %>
    <h1 class="display-3 text-center mt-3 mb-4" id="title">New Schedules</h1>
    <form action="/filter" method="post">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Select Term</h2>
                            <small class="card-text text-muted mb-5">Select the Term during which you would like your
                                schedule to
                                take place.</small>
                            <div class="form-group">
                                <label for="selectTerm">Term</label>
                                <select name="Term" id="selectTerm" class="form-select">
                                    <option value="202210">Fall 2021-22</option>
                                    <option value="202220" selected>Spring 2021-2022</option>
                                    <option value="202230">Summer 2021-2022</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Set CRNS <span class="optional">(optional)</span></h2>
                            <small class="card-text text-muted">Input any CRNs for courses which you know the exact section you
                                will attend. If no such sections exist, simply leave this field blank.</small>
                            <div id="setCRNs"></div>
                            <button class="btn btn-outline-success btn-sm mt-2" id="addCRN">Add CRN</button>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Courses</h2>
                            <small class="card-text text-muted">Enter all courses you wish to take this semester. 
                            <div id="courses" class="form-group">
                                <!-- <input type="text" name="sections[]" class="form-control mb-2" placeholder="MATH201" value="MATH201">
                                <input type="text" name="sections[]" class="form-control mb-2" placeholder="PHYS210" value="PHYS210"> 
                                <input type="text" name="sections[]" class="form-control mb-2" placeholder="PHYS210" value="STAT230"> 
                                <input type="text" name="sections[]" class="form-control mb-2" placeholder="PHYS210" value="EECE230">  -->
                            </div>
                            <button class="btn btn-outline-success btn-sm mt-2" id="addCourse">Add Course</button> <br>
                            <small class="text-warning"><i class="fas fa-exclamation-triangle"></i> Note that any courses placed in the Set CRNs card, if any, should NOT be placed in this one.</small></small>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-large mt-4">Next &gt </button>
            </div>
        </div>
    </form>
<script src="form.js"></script>