body{
    background-color: #F0F0F0;
}

#resetDiv{
    transform: translateY("100%");
}

table{
    width:100%;
    table-layout: fixed;
    height: 100vh;
    /* border-spacing: 0px; */
}

.rightArrow, .leftArrow{
    cursor: pointer;
    color: #04ABF4;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    text-decoration: none;
    transition: transform 200ms
}

.rightArrow:hover, .leftArrow:hover{
    color: #04ABF4;
    transform: scale(1.5);
}

td, th{
    text-align:center;
    margin:0px;
    padding:0px;
}
td{
    transition: border-bottom 400ms;
}

.time{
    display: flex;
    justify-content: center;
}

.box{
    background-color: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.occupied{
    -webkit-box-shadow: -6px 8px 18px -4px rgba(0,0,0,0.7); 
    box-shadow: -6px 8px 18px -4px rgba(0,0,0,0.7);
    transition: color 400ms;
    transition: background-color 400ms;
}

.courseTime, .courseName{
    display:block;
    margin:0;
    padding:0;
}
.courseName{
    padding-top: 1em;
    font-size:20px;
    font-weight:700;
}

tr.top{
    height:1.9rem;
}

table td > div {
    overflow: hidden;
    height: 5em;
    /* height:100px; */
}

#schedMain{
    overflow-x: hidden;
    overflow-y: auto;
}

/* #currSched{
    display:flex;
    justify-content: space-between;
} */

.occupied:hover{
    cursor: pointer;
}

.card-header{
    text-align: center;
    font-size: large;
}

.cardTitle{
    font-size:24px;
}

div.contentTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.contentBott{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.contentBoth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group-color{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.colorTitle{
    font-weight:700;
    font-size: 0.75em;
}

.blockTitle{
    margin-top:0.3em;
    font-weight:700;
    font-size: 0.9rem;
    display:block;
    margin-bottom: 0;
}

.course{
    display:flex;
    flex-direction: column;
    justify-content: top;
}

.blockSub{
    transform: translateY(-0.3em);
    font-size: 0.8rem;
}

#arrows{
    display:flex;
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 2em;
}

#schedMain{
    height:100vh;
}

#custom{
    padding:0px;
}

#changeTime{
    border:none;
    border-radius: 20px;
    background-color: red;
    color:white
}

#changeTime.time24{
    background-color: green;
    color:white
}

.I{
    display:flex;
    justify-content: space-between;
}

#info{
    font-family: "Calibri";
    margin-left:0.1em;
}

.infoLI{
    margin-top:1em;
    font-size:0.8em;
}

#infoalert{
    padding:1em;
}

#removed{
    display:flex;
    flex-direction: column;
}

.removed-li{
    color: #d12727;
    font-weight: 500;
    transition: all 170ms;
}

.liX{
    margin-right: 0.3em;
}

.removed-li:hover{
    cursor: pointer;
    font-size: large;
}