body{
    background-color: #F0F0F0;
}

table{
    width:100%;
    table-layout: fixed;
}

td, th{
    text-align:center;
    margin:0px;
    padding:0px;
}

.box{
    background-color: white;
}

.occupied{
    -webkit-box-shadow: -6px 8px 18px -4px rgba(0,0,0,0.7); 
    box-shadow: -6px 8px 18px -4px rgba(0,0,0,0.7);
    transition: background-color 250ms;
}

.courseTime, .courseName{
    display:block;
    margin:0;
    padding:0;
}
.courseName{
    padding-top: 1em;
    font-size:20px;
    font-weight:700;
}

tr.top{
    margin:1em;
}

table td > div {
    overflow: hidden;
    height: 100px;
}

.col-8{
    overflow-x: hidden;
    overflow-y: auto;
}

.occupied:hover{
    cursor: pointer;
}

.card-header{
    text-align: center;
    font-size: large;
}

.cardTitle{
    font-size:24px;
}

div.contentTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div.contentBott{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.blockTitle{
    margin-top:0.5em;
    font-weight:700;
    display:block;
    color:
}