body{
    background-color: aliceblue;
}

.bg-darkBlue{
    background-color: #1d3557;
}

.btn-primary2{
    background-color: #04ABF4;
    color:white;
}

.btn-primary2:hover{
    background-color: #2d9fd0;
    color:white;
}