.optional{
    font-size: small;
    font-weight: 400;
    color:red
}

.fg{
    display:flex;
}

.colon{
    font-size:large;
    margin-left:0.2rem;
    margin-right:0.2rem;
}

.seatCheck{
    color: darkgoldenrod;
}

.form-control::placeholder{
  opacity: 0.5;
}

.electiveCard{
    background-color: rgb(247, 247, 196);
}

.electiveBorder{
    border-color:#bfbc6f;
}

.top{
    display:flex;
    justify-content: space-between;
}

.selBtn{
    border:none;
    border-radius:2em;
    background-color: #cfedf7;
    border:1px solid #236075;
    height:1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.selSpan{
    font-size: 0.8em;
}