.optional{
    font-size: small;
    font-weight: 400;
    color:red
}

.fg{
    display:flex;
}

.colon{
    font-size:large;
    margin-left:0.2rem;
    margin-right:0.2rem;
}

.seatCheck{
    color: darkgoldenrod;
}

.form-control::placeholder{
  opacity: 0.5;
}