.optional{
    font-size: small;
    font-weight: 400;
    color:red
}

.CRNInpGrp{
    display:flex;
    align-items: center;
}

.clearButton{
    margin-left:0.4em;
    margin-right:0.4em;
    text-decoration: none;
    color:red;
    transition: all 200ms;
}

.clearButton:hover{
    color:red;
    transform: scale(1.3);
    cursor: pointer;
}

.colon{
    font-size:large;
    margin-left:0.2rem;
    margin-right:0.2rem;
}

.courseInp{
    margin:0px 0px 0px 0px;
}

#dayChecks{
    display:flex;
    justify-content: space-evenly;
}

.dayLabel{
    font-size: medium;
}

.form-check{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalLabel{
    font-weight: 700;
    font-size: large;
}

.editButton{
    margin-left:0.4em;
    margin-right:0.4em;
    text-decoration: none;
    color:#2e9f2e;
    transition: all 200ms;
}

.editButton:hover{
    color:#2e9f2e;
    transform: scale(1.3);
    cursor: pointer;
}

#changeTime{
    padding:0px
}

.btn-12{
    background-color: #2e9f2e;
}

.resetL{
    transform: translateY(50%);
    font-size:large;
    font-weight: 500
}